<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="HOSTNAME" value="${HOSTNAME}"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <encoding>UTF-8</encoding>
            <providers>
                <timestamp>
                    <fieldName>time</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "host": "${HOSTNAME}",
                        "level": "%level",
                        "class": "%class{0}.%M:%L",
                        "log": "#tryJson{%msg}",
                        "error": "%xEx{full}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <logger name="it.petrovich" level="debug" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="ch.qos" level="off" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="io.micronaut.runtime" level="info" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <root level="error">
        <appender-ref ref="stdout"/>
    </root>
</configuration>